h2 {
  display: inline-block;
  margin: 0px;
  vertical-align: super;
}

.Logo {
  display: inline-block;
  margin-right: 20px;
  margin-left: 0px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  vertical-align: bottom;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/icon.png");
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: #233c5c;
  background-repeat: no-repeat;
}

.Add {
  display: inline-block;
  margin-left: 695px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/add_post.svg");
  vertical-align: bottom;
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: "#233c5c";
  background-repeat: no-repeat;
}

.Profile {
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/view-profile.svg");
  vertical-align: bottom;
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: "#233c5c";
  background-repeat: no-repeat;
}

.Chat {
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/cart_with_item.svg");
  vertical-align: bottom;
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: "#233c5c";
  background-repeat: no-repeat;
}

.Setting {
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/setting.svg");
  vertical-align: bottom;
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: "#233c5c";
  background-repeat: no-repeat;
}

.LogOut {
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background-color: #233c5c;
  border-color: #233c5c;
  color: #233c5c;
  background-image: url("../commponents/logout.svg");
  vertical-align: bottom;
  border: 0;
  background-position: center;
  background-size: cover;
  border-color: "#233c5c";
  background-repeat: no-repeat;
}

.Bar {
  display: inline-block;
  vertical-align: bottom;
  color: rgb(253, 253, 253);
  margin: 0;
}

.image-filter {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-top: 10px;
  vertical-align: bottom;
  background-image: url('../commponents/search.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Posts {
  background-color: rgb(72, 95, 126);
  margin-top: 15px;
}